{% extends "auth/base.html" %}

{% block content %}
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header text-center">
                        <h2>Sign Up</h2>
                    </div>
                    <div class="card-body">
                        <form action="" method="post" novalidate class="needs-validation">
                            {{ form.hidden_tag() }}
                            <div class="form-group">
                                <label for="username">{{ form.username.label }}</label>
                                {{ form.username(class="form-control", id="username", size=32) }}
                                {% for error in form.username.errors %}
                                    <span style="color: red;">[{{ error }}]</span>
                                {% endfor %}
                            </div>
                            <div class="form-group">
                                <label for="password">{{ form.password.label }}</label>
                                {{ form.password(class="form-control", id="password", size=32) }}
                                {% for error in form.password.errors %}
                                    <span style="color: red;">[{{ error }}]</span>
                                {% endfor %}
                            </div>
                            <div class="form-group">
                                <label for="confirm_password">{{ form.confirm_password.label }}</label>
                                {{ form.confirm_password(class="form-control", id="confirm_password", size=32) }}
                                {% for error in form.confirm_password.errors %}
                                    <span style="color: red;">[{{ error }}]</span>
                                {% endfor %}
                            </div>
                            {{ form.submit(class="btn btn-success btn-block mt-3") }}
                        </form>
                    </div>
                    <div class="card-footer text-center">
                        <a href="{{ url_for('auth.login') }}">Already have an account? Log in</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}